<div>
    <h1>Ingresa</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/login.js"></script>