<h1>Logueate</h1>
<form id="loginForm">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input type="password" name="password">
    <input type="submit">
</form>

<p>¿No estás logueado? <a href="/register">Regístrate :)</a></p>

<script src="/js/login.js"></script>