<div>
    {{#if games}}
    <h1>Hola {{name}}, éste es tu carrito actual</h1>
    {{#each games}}
    <div>
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
    <a href="/">Seguir comprando</a>
    {{else}}
    <h1>Aún no hay juegos en tu carrito</h1>
    <a href="/">Comienza a comprar videojuegos :)</a>
    {{/if}}
</div>